/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: border-box sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: url("./photo_2024-06-04_14-10-59.jpg") no-repeat center/cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.main__box{
    width: 380px;
    height: 480px;
    background-color: aqua;
    border-radius: 10px;
    margin: 6% auto;
    padding: 5px;
    

}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 10px #ff61241f ;
    border-radius: 30px;
    
}

.btn1{
    width: 120px;
    height: 35px;
    padding: 30px auto;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    background: linear-gradient(to right, #ff105f, #ffad0f );
    border-radius: 30px;
    transition: 0.5;

}
.btn27{
    width: 120px;
    height: 35px;
    padding: 30px auto;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    background: linear-gradient(to right, #ff105f, #ffad0f );
    border-radius: 30px;
    transition: 0.5;

} 

.btn__new{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100vh;


}





























 */
