*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: border-box sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background: url("./photo_2024-06-04_14-10-59.jpg") no-repeat center/cover ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.main__box{
    width: 380px;
    height: 480px;
    background-color: aqua;
    border-radius: 10px;
    margin: 6% auto;
    padding: 5px;
    background: transparent;
    border: 1px solid whitesmoke;
    backdrop-filter: blur(10px);
    

}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 10px #ff61241f ;
    border-radius: 30px;
}

.btn1{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btnnew{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    transition: 0.5;
    /* background: linear-gradient(to right, #ff105f, #ffad0f ); */
    border-radius: 30px;

}

.social-icons{
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    gap: 30px;
    
    
}
.social-icons i{
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: larger;
    
    padding: 10px;
    gap: 100px;
    border-radius: 30px;
    background: linear-gradient(to right, #ff105f, #ffad0f );
    
}
.main_input{
    top: 190px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0 ;
    border-right: 0;
    border-bottom:1 #999;
    outline: none;
    background: transparent;
    color: white;
    
}
.submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad0f );
    border: 0;
    outline: none;
    border-radius: 30px;

}
.checkbox{
    margin: 30px 10px 30px 0;


}
.span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

}





#login{
    right:  50px;
    
}
#register{
    left: 46px;
    display: none ;

}

/* .btn1{
    position: relative;
    stroke: url("./app.js");
    overflow-x: auto;
    overflow-x: auto; */














































